%h1 Graffiti Heatmap
%p Let's find some graffiti art
#panel
#map-canvas
%br
%br
-@graffiti.each do |g|
  ="Address: #{g.incident_address}"
  %br
  ="Borough: #{g.borough}"
  %br
  ="Latitude: #{g.latitude}"
  %br
  ="Longitude: #{g.longitude}"
  %br
  ="Status: #{g.status}" 
  %br
  %br

