<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,visualization&key=AIzaSyCPiFQDQXqTsLtrJoYkRgOCqxVnfYNl0zo"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="graffitiApp">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div ng-include="'nav/_nav.html'"></div>
        </br></br>
        <div class='container title-container'>
            <h1 id="title"><a href="#home">GRAFFITO</a></h1>
            <br>
            <h4 id="subtitle"><a href="#home">Let's find some graffiti.</a></h4>
        </div>
        <div id="map-canvas"></div>
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>